
html,body
{

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-size: cover;
    color: white;
    user-select: none;
}
@media only screen and (min-width:600px)  {
.container{
    background-size: cover;
    background-image: url("../Images/gaming_background.jpg");
    background-blend-mode: multiply;
    position: absolute;
    align-content: center;
    height:100vh; 
    width: 100vw;
    z-index: 0;
    /* bottom:20vh; */
    background-repeat: no-repeat;

    

} 
.yolo
{
  /*border: 1px solid black;*/
  height: 100px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.imgOverlay{
    position: absolute;
    height: 100vh;
    width:100vw;
    background-color: black;
    opacity:0.6;
    z-index: 0.5;
}
/* .questions{
    z-index: 50;
} */
.question
{
    display: flex;
    margin-top:12vh;
    height:13vh;
    width:90vw;
    margin-left:5vw;
    background-color:rgb(8, 13, 24);
    border:0.7px  solid whitesmoke;
    border-radius: 15px;
    align-items:center; 
    font-family:Helvetica;
    justify-content: center;
    z-index: 3;
}

.options
{   display:flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(17, 75, 88);
    height: 10vh;
    width: 25vw;;
    border-radius: 15px;
    align-items: center;
    border:0.7px solid whitesmoke;
    margin-top: 4vh;
    justify-content: center;
z-index: 30;
}
#option1
{
    margin-left:15vw;
    margin-top:10vh;
}
#option2
{
    margin-left: 60vw;
    margin-top:-10vh;
}
#option3
{
    margin-left:15vw;
    margin-top:15vh;
}
#option4
{
    margin-left:60vw;
    margin-top:-10vh;
}
.lowbtn
{
    display: flex;
    width: 15vw;
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 75, 88);
    border-radius: 15px;
    justify-content: center;
    border:0.7px solid whitesmoke;
    align-items: center;
    z-index: 3;

}
.options:hover{
    background: rgb(0,40,47);
    transition: inherit;
    transition-duration: 0.3s;

    
}
.lowbtn:hover
{
    background:rgb(0,40,47);
    transition: inherit;
    transition-duration: 0.3s;

}
.selected { background:red; }
.selected:hover{
    background: red;
}
}


@media only screen and (max-width : 600px) {
.container{
    background-image: url("../Images/Tron Reality Questionnarie Mobile Version.svg");
    background-blend-mode: multiply;
    align-content: center;
    position:absolute;
    height:100vh; 
    width: 100vw;
}
.imgOverlay{
    position: absolute;
    height: 100vh;
    width:100vw;
    background-color: black;
    opacity:0.6;
    z-index: 0.5;
}

.option{
        height: 55vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        z-index: 100;

    }
.options{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(17, 75, 88);
    height: 10vh;
    width: 92vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    border:0.7px solid whitesmoke; 
    align-items: center;
    margin: 3.5vh 5vw;
    z-index: 100;
    }
.option1a, .option2b{
        height: 55vh;
        display: flex;
        flex-direction: column;
        width: 50vw;
        align-items: center;
        justify-content: space-evenly;
    }
.question{
    margin-top: 9vh;
    height: 20vh;
    width: 92vw;
    background-color:rgb(8, 13, 24);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Helvetica;
    font-size: 2.5vh;
    margin-left: 4vw;
    z-index: 100;
    border:0.7px solid whitesmoke;
    padding:5px;

    }
.lowbtn{    
    display:flex;
    width: 25vw;
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 75, 88);
    border-radius: 15px;
    margin-bottom: 2vh;
    align-items:center; 
    justify-content: center;
    border:0.7px solid whitesmoke;

}


.yolo
{
  /*border: 1px solid black;*/
  height: 100px;
 /* margin-top: 2px;*/
  display: flex;
  align-items: center;
  justify-content: space-around;

}

}
.selected { background:red; }



