<!DOCTYPE html>
<html>
{%load staticfiles%}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Roulette</title>
	<link rel="stylesheet" type="text/css" href="{%static "css/roulette.css"%}">
	<script src="{%static "js/jquery.min.js"%}"></script>
	<link href="{%static "css/materialize.css"%}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Acme|Baloo+Thambi|Permanent+Marker|ZCOOL+KuaiLe" rel="stylesheet">
	<link href="{%static "css/loder.css" %}" rel="stylesheet">
</head>
<body>
<div class="fixed-action-btn click-to-toggle" style="position:absolute;top:10px;z-index: 2;">
				<a class="btn-floating btn-large" style="background-color:rgba(0,0,0,0.7);">
					<i class="large material-icons" style="font-size:40px;">add_circle_outline</i>
				</a>
				<ul>
					<li><a class="btn-floating" style="background-color:rgba(0,0,0,0.7);" href="leaderboard.html"><i class="material-icons">star</i></a></li>
					<li><a class="btn-floating" style="background-color:rgba(0,0,0,0.7);" onclick="openNav()"><i class="material-icons">info</i></a></li>
					<li><a class="btn-floating" style="background-color:rgba(0,0,0,0.7);" onclick="toggleFullScreen()"><i class="material-icons">fullscreen</i></a></li>
					<!-- <li><a class="btn-floating" style="background-color:rgba(0,0,0,0.7);"></a></li> -->
				</ul>
			</div>
			<div id="nav" class="overlay" style="z-index: 200000;">
          <a href="#" class="closeBtn" onclick="closeNav()">&times</a>
          <div class="overlay__content">
              <a href="#">About</a>
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
      </div>
	<div class="wraper">
		<div class="container">
			<div id="roulette">
				<img src="{%static "Images/ROULLETE156.svg" %}">
			</div>
			<div id="pointer"></div>
		</div>
		<div class="button" onclick="rand()">START</div>
		<!-- <div class="question1">
			<iframe src="mythologydes.html" style="width: 100vw; height: 100vh; margin:0; border:none;"></iframe>
		</div>
		<div class="question2">
			<iframe src="magicdes.html" style="width: 100vw; height: 100vh; margin:0; border:none;"></iframe>
		</div>
		<div class="question3">
			<iframe src="roboticdes.html" style="width: 100vw; height: 100vh; margin:0; border:none;"></iframe>
		</div>
		<div class="question4">
			<iframe src="gamingdes.html" style="width: 100vw; height: 100vh; margin:0; border:none;"></iframe>
		</div> -->
	</div>
	<script src="{%static "js/roulette.js"%}"></script>
	<!-- <script src="{%static "js/ajax.js"%}"></script> -->
	<script type="text/javascript" src="{%static "js/materialize.js"%}"></script>
</body>
</html>
